.app{
    text-align: center;
    background:  #e1b382;
}

.container {
    background:  #e1b382;
display: flex;
justify-content: center;
align-items: center;
}
.header{
    color: #12343b;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40 px #000;
    margin-bottom: 10px;
}  
 .header h1{
    color: #fff;
    text-align: center;
    margin: 30px 0;
 }
.form{
    margin-bottom: 100px;
}
 .task-input {
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color:#ccc;
    background-color: #000000;
    border: 1px solid #c89666;
    border-radius: 10px;
    justify-content: center;
 }

 
